.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(37, 15, 81);
  padding: 10px;
  color: white;
}

.navbar-text {
  font-family: fantasy, sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: yellow;
  text-align: left;
  margin-left: 5px;
}

.navbar-logo {
  height: 100px;
  width: auto;
}

.navbar-links {
  list-style: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  gap: 30px;
  font-family: fantasy;
  font-style: oblique;
}

.navbar-link {
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 30px;
  color: black;
  text-decoration: none;
}

.navbar-link span {
  color: black;
  font-size: 20px;
  font-weight: bolder;
  margin-right: 25px;
}


.navbar-link.home-link {
  background-image: url('https://pics.clipartpng.com/midle/Mango_PNG_Clip_Art-2411.png');
}

.navbar-link.about-link {
  background-image: url('https://pics.clipartpng.com/midle/Mango_PNG_Clip_Art-2411.png');
}

.navbar-link.add-recipes-link {
  background-image: url('https://pics.clipartpng.com/midle/Mango_PNG_Clip_Art-2411.png');
}
