.RecipeCard {
  background-color: yellow;
  padding: 10px;
  margin-bottom: 20px;
  margin-right: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.RecipeCard__image {
  width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  background-color: rgb(37, 15, 81);
}

.RecipeCard__title{
  text-align: center;
}